.gridWrapper {
  width: 100%;
  display: grid;
  // grid-template-columns: repeat(4, clamp(209px, 20vw, 309px));
  grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));

  gap: 24px;
}

// grid-template-columns: 1fr 1fr 1fr 1fr;
// grid-template-rows: repeat(3, 1fr);
// gap: 12px;
// grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
// grid-template-rows: repeat(3, clamp(209px, 20%, 309px));
